# note for all rules in this file
# if Cloudflare is typical for your network, add the content:!"" field before classtype with the appropriate domain to exclude

# cloudflare tunnels
## match host header or uri that includes, but is longer than, content
alert http $HOME_NET any <> $EXTERNAL_NET any (msg:"Potential Cloudflare C2 (Tunnel) in HTTP Host/URI"; flow:established,to_server; http.host; content:".cfargotunnel.com"; bsize:>17; endswith; classtype:command-and-control; sid:1000020; rev:1; reference:url,https://lolc2.github.io/; metadata:created_at 2025_04_11, confidence Medium, signature_severity Medium, updated_at 2025_04_11;)

## match content in tls sni
alert tls $HOME_NET any <> $EXTERNAL_NET any (msg:"Potential Cloudflare C2 (Tunnel) in TLS SNI"; tls.sni; content:".cfargotunnel.com"; nocase; endswith; bsize:>17;classtype:command-and-control; sid:1000021; rev:1; reference:url,https://lolc2.github.io/; metadata:created_at 2025_04_11, confidence Medium, signature_severity Medium, updated_at 2025_04_11;)

## match content in dns query
alert dns $HOME_NET any -> $EXTERNAL_NET any (msg:"DNS Query for Potential Cloudflare C2 (Tunnel)"; dns.query; content:".cfargotunnel.com"; nocase; endswith; bsize:>17;classtype:command-and-control; sid:1000022; rev:1; reference:url,https://lolc2.github.io/; metadata:created_at 2025_04_11, confidence Medium, signature_severity Medium, updated_at 2025_04_11;)

# cloudflare workers and apps
## match host header or uri that includes, but is longer than, content 
alert http $HOME_NET any <> $EXTERNAL_NET any (msg:"Potential Cloudflare C2 (Worker/App) in HTTP Host/URI"; flow:established,to_server; http.host; content:".workers.dev"; bsize:>12; endswith; classtype:command-and-control; sid:1000023; rev:1; reference:url,https://lolc2.github.io/; metadata:created_at 2025_04_11, confidence Medium, signature_severity Medium, updated_at 2025_04_11;)

## match content in tls sni
alert tls $HOME_NET any <> $EXTERNAL_NET any (msg:"Potential Cloudflare C2 (Worker/App) in TLS SNI"; tls.sni; content:".workers.dev"; nocase; endswith; bsize:>12; classtype:command-and-control; sid:1000024; rev:1; reference:url,https://lolc2.github.io/; metadata:created_at 2025_04_11, confidence Medium, signature_severity Medium, updated_at 2025_04_11;)

## match content in dns query
alert dns $HOME_NET any -> $EXTERNAL_NET any (msg:"DNS Query for Potential Cloudflare C2 (Tunnel)"; dns.query; content:".workers.dev"; nocase; endswith; bsize:>12; classtype:command-and-control; sid:1000025; rev:1; reference:url,https://lolc2.github.io/; metadata:created_at 2025_04_11, confidence Medium, signature_severity Medium, updated_at 2025_04_11;)

# cloudflare DNS-over-HTTPS (DoH)
## match content in tls sni
alert tls $HOME_NET any -> $EXTERNAL_NET any (msg:"Potential Cloudflare C2 (DoH) in TLS SNI"; tls.sni; content:"cloudflare-dns.com"; nocase; classtype:command-and-control; sid:1000026; rev:1; reference:url,https://lolc2.github.io/; metadata:created_at 2025_04_11, confidence Low, signature_severity Low, updated_at 2025_04_11;)

## match content in dns query
alert dns $HOME_NET any -> $EXTERNAL_NET 53 (msg:"DNS Query for Potential Cloudflare C2 (DoH)"; dns.query; content:"cloudflare-dns.com"; nocase; classtype:command-and-control; sid:1000027; rev:1; reference:url,https://lolc2.github.io/; metadata:created_at 2025_04_11, confidence Low, signature_severity Low, updated_at 2025_04_11;)
