# match IPPrintC2 IOCs and b64 in print job names
# detection strategy: unusual printer jobs name - base64 strings and long fragmented document names
alert http $HOME_NET any -> any 631 (msg:"LOLC2 Microsoft Printer (sus names in printer jobs)"; http.method; content:"POST"; http.content_type; content:"application/ipp"; file.data; content:"job-name"; pcre:"/.{2}.*(?:IPPrintC2|IPPrint C2 Server|C2ExternalIP|C2Output|EncodedCommandExfil|Invoke-WebRequest|System\.Text\.Encoding|Add-Printer|c:\\temp\\c2.pdf|Invoke-DatatExfiltration|$ExfilDocname|New-ScheduledTask|powershell -enc|C2 output).*/Ri"; classtype:command-and-control; sid:1000070; rev:1; reference:url,https://lolc2.github.io/; metadata:created_at 2025_04_11, confidence Medium, signature_severity Medium, updated_at 2025_04_11;)

alert http $HOME_NET any -> any 631 (msg:"LOLC2 Microsoft Printer (Base64 in printer job names)"; http.method; content:"POST"; http.content_type; content:"application/ipp"; file.data; content:"job-name"; pcre:"/.{2}/(?:[A-Za-z0-9+\/]{4})*(?:[A-Za-z0-9+\/]{4}|[A-Za-z0-9+\/]{3}=|[A-Za-z0-9+\/]{2}={2})\x02/R"; classtype:command-and-control; sid:1000071; rev:1; reference:url,https://lolc2.github.io/; metadata:created_at 2025_04_11, confidence Medium, signature_severity Medium, updated_at 2025_04_11;)

# detection strategy: repeated or scheduled polling of /printers/ endpoints from client machines
alert http $HOME_NET any -> any 631 (msg:"LOLC2 Microsoft Printer (repeat query of /printers/ endpoint from client)"; http.method; content:"POST"; http.content_type; content:"application/ipp"; file.data; content:"printer-uri"; pcre:"/.{2}\/printers\/.*/R"; threshold:type threshold, track by_src, count 5, seconds 3600; classtype:command-and-control; sid:1000072; rev:1; reference:url,https://lolc2.github.io/; metadata:created_at 2025_04_11, confidence Medium, signature_severity Medium, updated_at 2025_04_11;)
